# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PhpstormProjects\Belajar Php SoloLearn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
